body {
    color: #14213D;
    background-color: #E5E5E5;
    font-family: "Outfit";
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-family: "Outfit";
}

/* Navigation bar related styling */
a {
    color: #FCA311;
    text-decoration: none;
    font-family: "Outfit";
}

a:hover {
    background-color: #484E69;
}

hr {
    border: 1px solid #E5E5E5;
}

/* End of Navigation styling */

/* Tables related styling */
table {
    margin-top: 20px;
    font-family: "Outfit";
    margin: auto;
    margin-top: 30px;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#complex tr:nth-child(odd) {
    background-color: #999;
    color: #fff;
}

table#complex tr:nth-child(even) {
    background-color: #777;
    color: #fff;
}

/* End of Tables related styling */

/* Footer related styling */
footer {
    margin-top: 40px;
    font-family: "Outfit";
    text-align: center;
}

footer>a {
    background-color: inherit;
    text-decoration: none;
}

footer>a:hover {
    background-color: inherit;
}

/* End of footer realted styling */

.center-aligned {
    text-align: center;
}

.links1 {
    padding-top: 10px;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    margin-bottom: 50px;
}


.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    
}

nav {
    text-align: center;
    font-family: "Outfit";
    font-size: 20px;
}

.home {
    text-align: center;
}

/* Index related styling */
.goob1 {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.goob2 {
    background-color: #14213D;
    color: #E5E5E5;
    margin: 10px;
    width: 500px;
    height: 200px;
    border-radius: 12px;
    transition: 0.3s;
}

.goob2:hover {
    transform: translate(0, -10px);
}

/* End of Index related styling */

/* Scripts related styling */
.fs {
    text-align: center;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
}

.fs2 {
    text-align: center;
}

/* End of Scripts related styling */

/* Polygons related styling */
.polygon {
    text-align: center;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    margin: 100px;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

/* End of Polygons related styling */

/* Calculator related styling */
.calculator {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px #14213D;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons>div {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.button {
    border: 0.5px solid #000000;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: #FCA311;
    color: white;
}

.button:hover {
    background-color: #14213D;
    color: white;
}

/* End of Calculator related styling */

/* Arrays related styling */
.arrays {
    text-align: center;
    background-color: #14213D;
    color: #E5E5E5;
    padding: 30px;
    margin: 100px;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

/* End of Arrays related styling */

/* Slideshow related styling */
.picture img {
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.slideshow {
    margin: 0px auto;
    text-align: center;
    display: block;
}

/* End of Slideshow related styling */